<div class="row">
    <div class="col-3 list-channels">
        <h4>Channels</h4>
        <label class="text-center">Filter By:</label>
        <div class="col-10 filter">
            <input [(ngModel)]="filter" class="form-control">
        </div>
        <ul class="list-group list-group-item-action list-group-flush" *ngFor="let channelsNames of filtreredChannel">
            <li>{{channelsNames.channelName}}</li>
        </ul>
    </div>
    <section class="col-9 message">
        <div *ngFor="let messages of filtreredChannel">
            <h5>{{ messages.nickname }}</h5>
            <p>{{ messages.message }}</p>
            <hr>
        </div>
    </section>
</div>
<form class="form-row" (ngSubmit)="saveMessage()">
    <div class="col-3 input-form" >
        <div class="form-group">
            <div class="form-group">
                <label for="inputChannel">Channel:</label>
                <input type="text" class="form-control" id="inputChannel" [(ngModel)]="inputChannel" name="inputChannel"/>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="inputName">Nickname:</label>
                <input type="text" class="form-control" id="inputName" [(ngModel)]="inputName" name="inputName"/>
            </div>
        </div>
    </div>
    <div class="col-8" >
        <div class="form-group">
            <label for="inputMessage">Message:</label>
            <textarea class="form-control" id="inputMessage" rows="5"  [(ngModel)]="inputMessage" name="inputMessage"></textarea>
        </div>
    </div>
    <div class="col btn-send" >
        <button type="submit" class="btn btn-success">
            <span>Send</span>
            <br>
            <i class="far fa-paper-plane"></i>
        </button>
    </div>
</form>

